---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title="Welcome to My Blog.">
    <div>
        <section>
            <div class="grid-container">
                <div class="item">
                    <h1>{frontmatter.title}</h1>
                </div>
                <div>
                    {new Date(frontmatter.pubDate).toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'numeric',
                        day: 'numeric',
                    })}
                </div>
            </div>
            <div style="text-align: right;">
                {(() => {
                    switch (frontmatter.jpn) {
                    case "#":   return null;
                    default:    return <span class="bg-green-500 text-gray-50 rounded-none px-2"><a href={frontmatter.jpn} target="_blank">view in jpn</a></span>;
                    }
                })()}
            </div>
        </section>
        <section>
            <figure>
                <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
                <figcaption>{frontmatter.image.alt}</figcaption>
                <p>Written by: {frontmatter.author}</p>
              </figure>
              <slot />
        </section>
        <hr>
    </div>
</Layout>
<style>
    .grid-container {
  display: flex; /* or inline-flex */
}
    .item {
  flex-grow: 4; /* default 0 */
}
</style>