---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, image, author, jpn } =
    Astro.props;
---

<Layout title={title} description={description}>
    <div>
        <section>
            <div class="grid-container">
                <div class="item">
                    <h1>{title}</h1>
                </div>
                <div>
                    <FormattedDate date={pubDate} />
                </div>
            </div>
            <div style="text-align: right;">
                {
                    (() => {
                        switch (jpn) {
                            case "#":
                                return null;
                            default:
                                return (
                                    <span class="bg-green-500 text-gray-50 rounded-none px-2">
                                        <a href={jpn} target="_blank">
                                            view in jpn
                                        </a>
                                    </span>
                                );
                        }
                    })()
                }
            </div>
        </section>
        <section>
            <figure>
                <img src={image.url} alt={image.alt} />
                <figcaption>{image.alt}</figcaption>
                <p>Written by: <mark>{author}</mark></p>
            </figure>
            <slot />
        </section>
        <hr />
    </div>
</Layout>
